:root {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  border: none;
}

input:focus {
  outline: none;
}

.container, .container-md {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  max-width: 1400px;
}

.container-md {
  max-width: 896px;
}

/* section codes */
.part {
  padding-top: 100px;
  background-color: #fbf8ec;
}
.part .all {
  padding-top: 30px;
  padding-bottom: 50px;
  font-family: Rubik;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.part .all__products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 40px;
  -moz-column-gap: 13px;
       column-gap: 13px;
}
@media (max-width: 1080px) {
  .part .all__products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .part .all__products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 550px) {
  .part .all__products {
    grid-template-columns: repeat(1, 1fr);
  }
}
.part .all__products .promotion__card {
  padding: 8px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.part .all__products .promotion__card__image img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.part .all__products .promotion__card .promotion__dis {
  display: inline-block;
  position: relative;
  bottom: 200px;
  left: 270px;
  border-radius: 4px;
}
.part .all__products .promotion__card .promotion__dis .btn-product {
  outline: none;
  background-color: #f3f2f1;
  padding: 6px 10px;
  border-radius: 4px;
}
@media (max-width: 1110px) {
  .part .all__products .promotion__card .promotion__dis .btn-product {
    bottom: 283px;
    left: 360px;
  }
}
@media (max-width: 1110px) and (max-width: 1030px) {
  .part .all__products .promotion__card .promotion__dis .btn-product {
    bottom: 200px;
    left: 360px;
  }
}
@media (max-width: 1110px) and (max-width: 1030px) and (max-width: 1030px) {
  .part .all__products .promotion__card .promotion__dis .btn-product {
    left: 340px;
  }
}
@media (max-width: 1110px) and (max-width: 1030px) and (max-width: 1030px) and (max-width: 800px) {
  .part .all__products .promotion__card .promotion__dis .btn-product {
    left: 310px;
  }
}
@media (max-width: 1110px) and (max-width: 1030px) and (max-width: 1030px) and (max-width: 800px) and (max-width: 760px) {
  .part .all__products .promotion__card .promotion__dis .btn-product {
    left: 290px;
  }
}
@media (max-width: 1110px) and (max-width: 1030px) and (max-width: 1030px) and (max-width: 800px) and (max-width: 760px) and (max-width: 700px) {
  .part .all__products .promotion__card .promotion__dis .btn-product {
    left: 250px;
    bottom: 170px;
  }
}
.part .all__products .promotion__card .promotion__discount {
  position: relative;
  bottom: 60px;
  width: 50%;
  padding: 8px;
  border-radius: 4px;
  background-color: #f63;
  text-align: center;
  color: #fff;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.part .all__products .promotion__card .promotion__card__items .promotion__card__texts {
  margin-top: -30px;
  display: flex;
  justify-content: space-between;
}
.part .all__products .promotion__card .promotion__card__items .promotion__card__texts .promotion__card__num .promotion__card_money {
  color: #414141;
  font-family: Rubik;
  margin-bottom: 10px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}
.part .all__products .promotion__card .promotion__card__items .promotion__card__texts .promotion__card__num .active {
  color: #606060;
}
.part .all__products .promotion__card .promotion__card__items .promotion__card__texts .promotion__card__num .promotion__card-text {
  color: #414141;
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #bfbfbf;
}
.part .all__products .promotion__card .promotion__card__items .promotion__card-item .promotion__card__main {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  padding-bottom: 8px;
  display: inline-block;
  width: 80%;
  color: #414141;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}
.part .all__products .promotion__card .promotion__card__items .promotion__card-item .all {
  display: inline-block;
  width: 100%;
}
.part .all__products .promotion__card .promotion__card__items .promotion__card-item .promotion__stars {
  margin-top: -13px;
  display: flex;
  gap: 3px;
}
.part .all__products .promotion__card .promotion__card__items .promotion__btn {
  margin: 0 auto;
  width: 100%;
  margin-top: 8px;
  padding: 4px 100px;
  border-radius: 4px;
  border: 1px solid #70c05b;
  color: #70c05b;
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  background-color: white;
}
.part .all__products .promotion__card .promotion__card__items .promotion__btn:hover {
  border-color: #fff;
  color: #fff;
  background: #f63;
}
.part .all__products .promotion__card .promotion__card__items .parts {
  background-color: #f63;
  color: #fff;
}
.part .pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 40px 0px 20px;
}
.part .page-link {
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  color: #d0acac;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.part .page-link:hover {
  background-color: #fdecec;
}

.active {
  background-color: #f2ecec;
}

.disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

/* section codes done*/
/* footer codes */
.footer {
  padding: 40px 0px;
  background-image: url(/images/pages/index/bg.png);
  background-repeat: no-repeat;
  background-color: #fbf8ec !important;
  background-size: cover;
}
.footer__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 620px) {
  .footer__items {
    align-items: first baseline;
  }
}
@media (max-width: 620px) and (max-width: 400px) {
  .footer__items {
    flex-direction: column;
    align-items: center;
  }
}
.footer__items .footer__item {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 620px) {
  .footer__items .footer__item {
    flex-direction: column;
  }
}
.footer__items .footer__item .footer__links {
  display: flex;
  gap: 40px;
}
@media (max-width: 1160px) {
  .footer__items .footer__item .footer__links {
    flex-wrap: wrap;
  }
}
.footer__items .footer__item .footer__links .footer__link {
  color: #414141;
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.footer__items .footer__socials {
  display: flex;
  gap: 40px;
}
@media (max-width: 1160px) {
  .footer__items .footer__socials {
    flex-wrap: wrap;
  }
}
@media (max-width: 1160px) and (max-width: 620px) {
  .footer__items .footer__socials {
    flex-direction: column;
  }
}
.footer__items .footer__socials .footer__social {
  display: flex;
  gap: 10px;
}
.footer__items .footer__socials .footer__phone {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__items .footer__socials .footer__phone .phone__num {
  color: var(--main-on-surface, #414141);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.footer__part {
  margin-top: 30px;
  text-align: right;
}
@media (max-width: 1160px) {
  .footer__part {
    text-align: center;
  }
}
.footer__part .foooter__part-sec {
  color: #414141;
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.footer__fix {
  display: none;
  background-color: #fff;
}
@media (max-width: 500px) {
  .footer__fix {
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 0 auto;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
  }
}
.footer__fix .footer__category-img {
  display: flex;
  justify-content: center;
}
.footer__fix .footer__category-catalog {
  color: var(--main-on-surface, #414141);
  font-family: Rubik;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}