// styles.scss
@use "../global";
@use "../utils/variables" as vrb;
@use "../utils/mixins" as mxn;

/* section codes */
.part {
  padding-top: 100px;
  background-color: vrb.$global-background;
  .all {
    padding-top: 30px;
    padding-bottom: 50px;
    font-family: Rubik;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
  .all__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
    column-gap: 13px;
    @media (max-width: 1080px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 550px) {
      grid-template-columns: repeat(1, 1fr);
    }
    .promotion__card {
      padding: 8px;
      border-radius: 4px;
      background: vrb.$background-color;
      box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
      &__image img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
      .promotion__dis {
        display: inline-block;
        position: relative;
        bottom: 200px;
        left: 270px;
        border-radius: 4px;
        .btn-product {
          outline: none;
          // background: white;
          background-color: #f3f2f1;
          padding: 6px 10px;
          border-radius: 4px;

          @media (max-width: 1110px) {
            bottom: 283px;
            left: 360px;
            @media (max-width: 1030px) {
              bottom: 200px;
              left: 360px;
              @media (max-width: 1030px) {
                left: 340px;
                @media (max-width: 800px) {
                  left: 310px;
                  @media (max-width: 760px) {
                    left: 290px;
                    @media (max-width: 700px) {
                      left: 250px;
                      bottom: 170px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .promotion__discount {
        position: relative;
        bottom: 60px;
        width: 50%;
        padding: 8px;
        border-radius: 4px;
        background-color: #f63;
        text-align: center;
        color: vrb.$background-color;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
      .promotion__card__items {
        .promotion__card__texts {
          margin-top: -30px;
          display: flex;
          justify-content: space-between;
          .promotion__card__num {
            .promotion__card_money {
              color: vrb.$main-color;
              font-family: Rubik;
              margin-bottom: 10px;
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: 27px;
            }
            .active {
              color: #606060;
            }
            .promotion__card-text {
              @include mxn.main-text;
              color: #bfbfbf;
            }
          }
        }
        .promotion__card-item {
          .promotion__card__main {
            display: -webkit-box !important;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            padding-bottom: 8px;
            display: inline-block;
            width: 80%;
            color: vrb.$main-color;
            font-family: Rubik;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 16px;
          }
          .all {
            display: inline-block;
            width: 100%;
          }
          .promotion__stars {
            margin-top: -13px;
            display: flex;
            gap: 3px;
          }
        }
        .promotion__btn {
          margin: 0 auto;
          width: 100%;
          margin-top: 8px;
          padding: 4px 100px;
          border-radius: 4px;
          border: 1px solid vrb.$btn-background;
          color: vrb.$btn-background;
          text-align: center;
          font-family: Rubik;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          background-color: white;
          &:hover {
            border-color: #fff;
            color: #fff;
            background: #f63;
          }
        }
        .parts {
          background-color: #f63;
          color: vrb.$background-color;
        }
      }
    }
  }
  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 40px 0px 20px;
  }

  .page-link {
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: #d0acac;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #fdecec;
    }
  }
}
.active {
  background-color: #f2ecec;
}
.disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

/* section codes done*/

/* footer codes */

.footer {
  padding: 40px 0px;
  background-image: url(/images/pages/index/bg.png);
  background-repeat: no-repeat;
  background-color: vrb.$global-background !important;
  background-size: cover;
  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 620px) {
      align-items: first baseline;
      @media (max-width: 400px) {
        flex-direction: column;
        align-items: center;
      }
    }
    .footer__item {
      display: flex;
      align-items: center;
      gap: 40px;
      @media (max-width: 620px) {
        flex-direction: column;
      }
      .footer__links {
        display: flex;
        gap: 40px;
        @media (max-width: 1160px) {
          flex-wrap: wrap;
        }

        .footer__link {
          @include mxn.main-text;
        }
      }
    }
    .footer__socials {
      display: flex;
      gap: 40px;
      @media (max-width: 1160px) {
        flex-wrap: wrap;
        @media (max-width: 620px) {
          flex-direction: column;
        }
      }

      .footer__social {
        display: flex;
        gap: 10px;
      }
      .footer__phone {
        display: flex;
        align-items: center;
        gap: 10px;
        .phone__num {
          color: var(--main-on-surface, #414141);
          font-family: Rubik;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
      }
    }
  }
  &__part {
    margin-top: 30px;
    text-align: right;
    @media (max-width: 1160px) {
      text-align: center;
    }
    .foooter__part-sec {
      @include mxn.main-text;
    }
  }
}
.footer__fix {
  display: none;
  background-color: #fff;
  @media (max-width: 500px) {
    position: fixed;
    width: 100%;
    bottom: 0;
    margin: 0 auto;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
  }
  .footer__category {
    &-img {
      display: flex;
      justify-content: center;
    }
    &-catalog {
      color: var(--main-on-surface, #414141);
      font-family: Rubik;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }
}
