@use "../global";
@use "../utils/variables" as vrb;
@use "../utils/mixins" as mxn;
.category {
  padding-top: 100px;
  background-color: vrb.$global-background;
  .category__text {
    margin-top: 27px;
    display: flex;
    align-items: center;
    gap: 16px;
    a {
      color: var(--Main-onSurface, #414141);
      font-family: Rubik;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      cursor: pointer;
    }
    p {
      color: var(--Grayscale-Hard, #8f8f8f);
      font-family: Rubik;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
    }
  }
  h3 {
    padding-top: 20px;
    color: var(--Main-onSurface, #414141);
    font-family: Rubik;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 96px;
  }
  .category__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
    column-gap: 40px;
    @media (max-width: 1080px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 450px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .category__card {
      background: linear-gradient(
        180deg,
        rgba(112, 192, 91, 0) 0%,
        #70c05b 82.81%
      );
      box-shadow: 1px 2px 4px 0px rgba(112, 192, 91, 0.2);
    }

    :nth-child(1),
    :nth-child(10),
    :nth-child(12) {
      grid-column: span 2;
      @media (max-width: 800px) {
        grid-column: auto;
      }
    }

    :nth-child(2) {
      background: linear-gradient(180deg, rgba(255, 102, 51, 0) 0%, #f63 100%);
    }

    .card-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: filter 5ms;
      &:hover {
        filter: brightness(1);
        mask-image: linear-gradient(to top, transparent, green);
      }
    }
  }
  .category__card {
    position: relative;
    .category__card-text {
      position: absolute;
      bottom: 10px;
      background: none;
      left: 10px;
      p {
        color: var(--Main-onSecondary, #fff);
        font-family: Rubik;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 27px;
      }
    }
  }
}
